* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f2f2f2;
  color: #555;
}


/*------------------------------------------------ HEADER ------------------------------------------------*/

header{
  width: 100%;
  position: fixed;
  text-align: center;
  box-shadow: 0 2px 30px -2px gray;
  z-index: 999;
}

nav {
  width: 100%;
  height: 70px;
  background: #151719;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  border-radius:10%;
  border: 2px solid rgba(230, 230, 230, .9);
}

a{
  text-decoration: none;
  color:white;
}

nav ul li a:hover{
  color:coral;
}

nav ul li:hover{
  border: 2px solid coral;
}

nav ul li a .leyenda-nav{
  display: inherit;
}

nav ul li a .icono-nav{
  display: none;
}


/*------------------------------------------------ MAIN ------------------------------------------------*/

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*--------------------- SECCION SOBRE-MI ---------------------*/

#sobre-mi{
  margin-bottom: 100px;
  margin-top:60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;  
    
}

.header-top{
  width: 100%;
  background: radial-gradient(circle, rgb(68, 67, 70) 0%, rgb(29, 29, 31) 50%, rgb(68, 67, 70) 100%);
  height:400px;
  box-shadow: 0 2px 30px -2px  black;
}

.nombre_portada{
  padding-top: 50px;
  width: 100%;
  color:whitesmoke;
}

.header-buttom{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:110px;
  height:400px;
}

.contenido_portada{
  width: 70%;
  padding-bottom: 50px;
  font-size: 20px;
}

h1{
  font-size: 6rem;
  font-weight: 300;
}

h2{
  padding: 50px 0px;
  font-size: 3rem;
}

h3{
  font-weight: 300;
}

.funcion:hover{
  color: coral;
}

.contenedor-foto{
  background-color:coral;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 220px 220px 220px 220px;
  box-shadow: 0 2px 30px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto:hover{
  background-color:white;
}

.imagen{
  background-color: gray;
  height: 190px;
  width: 190px;
  border-radius: 220px 220px 220px 220px;
  background: url('./recursos/fotoPerfil.jpg') no-repeat center center/cover;    
}


/*--------------------- SECCION EDUCACION ---------------------*/

#educacion{
  width: 100%;
  background-color: #44494e;
  font-size: 18px;
  line-height: 28px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: gainsboro;
  box-shadow: 0 2px 30px -2px  #44494e;
  display: flex;   
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.educacion-container{
  display: inline-flex;
  flex-wrap: wrap;
  width: 70%;
}

.educacion-item{
  width: 80%;
  text-align: start;
}

.educacion-periodo{
  text-align: end;
  width: 20%;
}

.estado{
  color: black;
}

.establecimiento, .titulo{
  color: #ffffff;
}

.establecimiento, .detalles{
  margin-top: 30px;
}

hr{
  width: 70%;
  margin: 50px 10%;
}

.first{
  margin-bottom: 50px;
}


/*--------------------- SECCION TECNOLOGIAS ---------------------*/

#tecnologias{
  padding-top: 50px;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-principal{
  padding-top: 50px;
  padding-bottom: 100px;
  width: 70%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.container-item{
  padding:10px;
  text-align: center;
}

.tecnologia-container {
  width: 200px;
  height: 100px;
  position: relative;
}

.container-item span{
  color:grey;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;  
}


/*--------------------- SECCION PORTAFOLIO ---------------------*/

#portafolio{
  width: 100%;
  background-color: #44494e;
  font-size: 58px;
  height:900px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: gainsboro;
  box-shadow: 0 2px 30px -2px  #44494e;
  display: flex;   
  flex-direction: column;
  align-items: center;
}

.construccion{
  color: coral;
  font-size: 300px;
}


/*--------------------- SECCION CONTACTO ---------------------*/

#contacto{
  font-size: 20px;
  padding-top: 50px;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 950px;
}

.contacto-container{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content:space-between ;
}

.form-container{
width: 70%;
padding: 50px 0px 100px 0px;
display: flex;
justify-content: center;
align-items: center;
}

form{
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  
}

button{
  margin-top: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  border-color:#44494e;
  background-color: #44494e;
  color: gainsboro;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 2px 30px -2px black;
}

.enviar:hover{
  color: coral;
}

.iconos{
  font-size: 20px;
  color:  #555;
}

.iconos:hover{
  color: coral;
}

textarea{
  width: 100%;
  height: 50%;
  resize: none;
  border-radius: 20px;
  border-color:lightgray;
  border-width: 2px;
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: 0 2px 30px -2px  #44494e;
  outline: none;
}

textarea:hover{
  border-color:coral;
}

textarea::placeholder{
  color: lightgray;
}

input{
  width: 100%;
  resize: none;
  border-radius: 20px;
  border-color:lightgray;
  border-width: 2px;
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: 0 2px 30px -2px  #44494e;
  outline: none;
}

input:hover{
  border-color:coral;
}

input::placeholder{
  color: lightgray;
}

.invalid{
  background: rgb(250, 69, 69);
}

.valid{
  background: rgb(90, 255, 90);
}


/*------------------------------------------------ FOOTER ------------------------------------------------*/

footer{
  background: radial-gradient(circle, rgb(68, 67, 70) 0%, rgb(29, 29, 31) 50%, rgb(68, 67, 70) 100%);
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color:whitesmoke;
  box-shadow: 0 2px 30px -2px black;
}


/*------------------------------------------------ MEDIA QUERYS ------------------------------------------------*/

@media (max-width: 1320px) {

  .tecnologia-container {
    width: 150px;
    height: 75px;
  }

  .educacion-item{
    width: 65%;
  }
    
  .educacion-periodo{
    width: 35%;
  }

  form{
    width: 80%;
  }

}

@media (max-width: 1030px) {

  .contenido_portada, .educacion-container, .contacto-container, .container-principal, hr, .form-container{
    width: 90%;
  }

}

@media (max-width: 800px) {
  
  .container-principal{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    gap: 10px;
  }

  form{
    width: 90%;
  }

}

@media (max-width: 680px) {

  nav ul li a .icono-nav{
    display: inherit;
    font-size: 26px;
  }

  nav ul li a .leyenda-nav{
    display: none;
  }

  .header-top, .header-buttom{
    height:300px;
  }
  
  .contenido_portada{
    font-size: 14px;
  }
  
  h1{
    font-size: 4rem;
  }
  
  h2{
    font-size: 2rem;
  }

  #educacion{
      font-size: 14px;
      line-height: 24px;
  }

  .educacion-container{
    display: block;
  }

  .educacion-periodo{
    text-align: start;
    padding-top: 30px;
  }

  .container-principal{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  input, textarea, .container-item span{
    font-size: 1rem;
  }

  #portafolio{
    font-size: 28px;
    height: 600px;
  }

  .construccion{
    font-size: 200px;
  }

  #contacto{
    font-size: 14px;
    height: 850px;
  }

  .form-container{
    padding-bottom: 50px;
  }

  form{
    width: 100%;
  }
   
}

@media (max-width: 500px) {

  nav ul li a .icono-nav{
    font-size: 18px;
  }

  .contenedor-foto{
    height: 120px;
    width: 120px;
    border-radius: 140px 140px 140px 140px;
  }
  
  .imagen{
    height: 110px;
    width: 110px;
    border-radius: 140px 140px 140px 140px;
  }

  h1{
    font-size: 2rem;
  }
  
  h2{
    font-size: 1.2rem;
  }

  h3{
    font-size: 1.1rem;
  }

  .first{
    margin-bottom: 0px;
  }

  .header-buttom{
    padding-top: 50px;
  }

  .contenido_portada{
    font-size: 12px;
  }

  #educacion, #tecnologias, .form-container{
    padding-top: 0px;
  }

  .container-principal{
    padding: 0px;
  }

  .tecnologia-container {
    width: 100px;
    height: 50px;
  }

  #portafolio{
    padding:0;
    height: 500px;
  }

  #contacto{
    font-size: 12px;
    padding-top: 0px;
  }

  .contacto-container{
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
  }

  footer{
    font-size: 12px;
  }

}
